.container {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    z-index: 100;
    pointer-events: none;
    opacity: 0.8;
    animation: flicker 4s infinite linear alternate, error-glitch 2s infinite linear alternate-reverse;
}

@keyframes flicker {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    25%,
    75% {
        opacity: 0.8;
    }
}

@keyframes error-glitch {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-1px, 1px);
    }

    40% {
        transform: translate(-1px, -1px);
    }

    60% {
        transform: translate(1px, 1px);
    }

    80% {
        transform: translate(1px, -1px);
    }

    100% {
        transform: translate(0);
    }
}